* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
  }
  
  .Calculator {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    background-color: #f7e1e1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: grid;
    grid-gap: 10px;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .output-container {
    margin-top: 20px;
  }
  
  p {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 1.4;
  }
  
  .footer {
    text-align: center;
    margin-top: 20px;
    color: #777;
    font-size: 12px;
  }
  
  .footer a {
    color: #007bff;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }